<div class="formulario-usuario">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <form [formGroup]="formularioUsuario">
                    <h2>Usuarios</h2>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th scope="row">ID</th>
                                <th scope="row">Rut</th>
                                <th scope="row">Nombre</th>
                                <th scope="row">Apellido Paterno</th>
                                <th scope="row">Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of Datos">
                                <th scope="row">{{ item.id }}</th>
                                <td>{{ item.rut }}</td>
                                <td>{{ item.nombre }}</td>
                                <td>{{ item.ap_paterno }}</td>
                                <td>{{ item.email }}</td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>